<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/products.css">
    <script src="http://cdn.rawgit.com/google/traceur-compiler/90da568c7aa8e53ea362db1fc211fbb4f65b5e94/bin/traceur-runtime.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/systemjs/0.18.4/system.src.js"></script>
    <script src="https://code.angularjs.org/2.0.0-alpha.37/angular2.dev.js"></script>
    <script src="https://code.angularjs.org/2.0.0-alpha.37/router.dev.js"></script>
    <title>Hello</title>
    <script>
       System.config({
         defaultJSExtensions: false
       });
    </script>
</head>
<body>
    <app></app>
    <script>System.import('app.js');</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>
</html>